body{
    background: #EDC7B7;
    margin:0;
    width: 100%;
    color: white;
    font-family: monospace;
    overflow: auto;

}

#title{
  text-align: center;
}

.navigation{
    background-color: #EDC7B7;
}

.navigation li{
    position: relative;
    display: inline;
    width: auto;
}

.navigation a{
    text-decoration: none;
    display: inline-block;
    padding: 0.5vw 1vw 0.3vw 1vw;
    margin: auto;
    color: #AC3B61;
    font-size: 1.5vw;
}

.navigation a:hover{
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-color: black;
}

#paragraphBlock{
  background-color: #EEE3DE;
}
