body{
    background: #f2d7cb;
    margin:0;
    width: 100%;
    color: white;
    font-family: monospace;
    overflow: auto;


}

.navigation{
    background-color: #EDC7B7;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
}


.navigation li{
    position: relative;
    display: inline;
    width: auto;
}

.navigation a{
    text-decoration: none;
    display: inline-block;
    padding: 0.5vw 1vw 0.3vw 1vw;
    margin: auto;
    color: #AC3B61;
    font-size: 1.5vw;
}

.navigation a:hover{
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-color: black;
}

ul{
  list-style-type: none;
}

.timeList p{
  font-size: larger;
  color: #123c69;
  font-weight: bolder;
}

#title{
  text-align: center;
  color: #AC3B61;
}

#paragraphBlock{
  text-decoration-color:
}

#paragraphBlock h3{
  text-align: center;
  font-size: 16px;
  color: #ac4e3b;
}

#paragraphBlock h2{
  text-align: center;
  font-size: 22px;
  color: #AC3B61;
}

.timeList{
    text-decoration: none;
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .navigation {
    padding: 10px;
  }

  .navigation a {
    font-size: 3.4vw;
    padding: 0.3em;
  }

  #paragraphBlock h2 {
    font-size: 18px;
  }
}