body{
    background: #f2d7cb;
    margin:0;
    width: 100%;
    color: white;
    font-family: monospace;
    overflow: hidden;
    text-align: center;


}

.navigation{
    background-color: #EDC7B7;
    padding: 0.2vw 0vw 0.2vw 0vw;
}

.navigation li{
    position: relative;
    display: inline;
    width: auto;

}

.navigation a{
    text-decoration: none;
    display: inline-block;
    padding: 0.5vw 1vw 0.3vw 1vw;
    margin: auto;
    color: #AC3B61;
    font-size: 1vw;
}

.navigation a:hover{
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-color: black;
}

img {
    border-radius: 50%;
    padding:0vw 0vw 0vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto
}

#title{
    font-size: 0.9vw;
    color: #AC3B61;
}
.paragraphBlock{
    background-color: #f2d7cb;
    padding-top: 5.5vw;
}

#paragraphs{
    background-color: #EDC7B7;
    border-radius: 0.7vw;
    margin-right: 10vw;
    margin-left: 10vw;
    box-shadow: 0.1vw 0.1vw 0.5vw 0.5vw #EDC9B9;
    margin-bottom: 2vw;
}

#what h2{
    font-size: 1.5vw;
    color: #AC3B61;
}

#what p{
    font-size: 1vw;
    color: #123c69;
    font-weight: bolder;
}


#why h2{
    font-size: 1.5vw;
    color: #AC3B61;
}

#why p{
    font-size: 1vw;
    color: #123c69;
    font-weight: bolder;
}

.bottomBar {
  position: fixed;
  padding: 0.5vw 0vw 0.5vw 0vw;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2vw;
  background-color: #EDC7B7;
  color: #fff;
  text-align: left;
  z-index: 99999;
}

.bottomBar a{
  text-decoration: none;
  display: inline-block;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin: auto;
  color: #AC3B61;
  font-size: larger;
}


@media screen and (max-width: 728px) {
    
 #title {
    font-size: 2.2vw;
  }
    
 .navigation a {
    font-size: 3.4vw;
    }
 #what h2{
    font-size: 4vw;
    color: #AC3B61;
    }
 #what p{
    font-size: larger;
    color: #123c69;
    }
  #why h2{
    font-size: 4vw;
    color: #AC3B61;
    }
    #why p{
        font-size: larger;
    }
  #paragraphs{
    background-color: #EDC7B7;
    background-size: contain;
    left: 85vw;
    right: 10vw;
    border-radius: 0.7vw;
    background-position: center;
    margin-right: 10vw;
    margin-left: 10vw;
    box-shadow: 0.1vw 0.1vw 1vw 1vw #EDC9B9;
  }
